:host
    margin 5px
    .photo-tile
        cursor pointer
        position relative
        background-position center
        background-size cover
    .title
        color #FFF
        background rgba(72, 72, 72, .6)
        font-size .9rem
        font-weight normal
        position absolute
        bottom 0
        left 0
        width 100%
        margin 0
        padding 10px
        word-break break-all
    img
        width 100%